@import "colors"
@import "reset"
@import "fontello"
html
    font-size: 14px

body
    background-color: $body-bg
    color: $dark
    font-family: "Roboto", sans-serif
    margin: 0
a
    color: $active
.top-nav
    background-color: $white
    padding: 15px
    &_menu
        display: flex
        list-style: none
        padding: 0
        li
            margin-right: 45px
            a
                text-decoration: none 
                text-transform: uppercase
                color: $dark
                &::after
                    content: ""
                    display: block
                    width: 100%
                    height: 2px
                    background-color: $active
                    transform: translateY(37px) scale(0)
                    transition: all 0.2s
                &:hover
                    text-decoration: none
                    &::after
                        transform: translateY(37px) scale(1)
.left-sidebar
    margin-top: 40px
    &_menu
        background-color: $white
        padding: 0
        list-style: none
        li
            a
                display: block
                text-decoration: none
                font-size: 16px
                font-weight: 400
                color: $dark
                padding: 15px 29px
                &:hover
                    background-color: $active
                    color: $white
                    transition: all 0.1ss
    &_object
        background-color: $white
        margin-top: 30px
    &_description
        padding: 30px
.btn
    display: inline-block
    padding: 20px 30px
    background-color: $active
    color: $white
    text-decoration: none
    border-bottom: 5px solid darken($active, 10%)
    border-radius: 5px
    font-size: 16px
    font-weight: 700
    margin-top: 40px
    &:hover
        background-color: lighten($active, 5%)
.content
    margin-top: 40px
    color: $dark
    h2
        color: $dark
        font-size: 24px
        font-weight: 700
        line-height: 33px
.direction
    margin-top: 80px
    height: 220px
    &-block
        text-align: center
        height: 220px
        background-color: $white
        padding: 10px
        margin: 15px 15px
        background-position: bottom center
        background-repeat: no-repeat
        background-size: 170px auto
    h3
        color: $active
        font-size: 14px
        font-weight: 400
    .slick-slide
        height: 220px
.footer
    background-color: $dark
    margin-top: 60px
    color: $footer-color
    padding: 50px 0
    a
        text-decoration: none
        color: $footer-color
        &:hover
            color: $white
    .copyright
        font-size: 14px
        font-weight: 400
        line-height: 20px
        margin-bottom: 12px
    .policy
        font-size: 12px
        font-weight: 400
        line-height: 20px
    .disclaimer
        display: block
        font-size: 10px
        font-weight: 400
        line-height: 16px
        margin-top: 55px
    ul
        list-style: none
        li
            font-size: 14px
            font-weight: 400
            line-height: 32px
    .footer-contacts
        text-align: right
        .phone
            color: $active
            font-size: 20px
            font-weight: 700
            line-height: 20px
        .adress
            font-size: 14px
            font-weight: 400
            line-height: 20px
        .mail
            @extend .adress
    .social-btn
        @extend .footer-contacts
        li
            display: inline-block
            a
                display: inline-block
                text-align: center
                background-color: rgba($white, 0.1)
                height: 42px
                width: 42px
                border-radius: 50%
                line-height: 42px
                margin-left: 15px
                &:hover
                    background-color: rgba($white, 0.9)
                    color: $dark